* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;  /* Hace que las cajas no se desborden unas con otras*/
}
body {
    font-family: 'Martian Mono', monospace;
    /* fonnt-weight 100 delgado, 300 medio, 600 grueso*/
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: #ec6800;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.menu {
display: flex;
flex-flow: column nowrap;
height: 30px;
align-items: center;
border-bottom: 1px solid black;
}

.logo {
flex: 1 1 auto;
margin-right: 1030px;
margin-top: -60px;
}

.logo img {
height: 170px;
}

.logo:hover {
    color: white;
}

.nav {
    flex: 5 1 auto;
    position: absolute;
    margin-top: 22px;
}

.nav .manga-white {
    color: white;
}

.nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 0 1px;
    text-transform: uppercase;
}

.nav a:hover {
    color: white;
}

.nav .personajes-white {
    color: white;
}

.social {
    flex: 1 1 auto;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 50px;
    margin-left: 800px;
    margin-top: -19px;
}

.social a {
    color: black;
    font-size: 27px;
    width: 1px;
    height: auto;
    display: flex;                     /*  este referencia a todo lo que va a venir abajo */
    justify-items: flex-end;             /*  hace que los elementos se vallan al final */
    align-items: center;                /*   hace que los elementos tomen todo el espacio y se centren */
    justify-content: space-between;         /*   da un espacio entre los elementos */
    justify-self: end; 
    padding: 0;  
    text-decoration: none;   
}

.social a:hover {
    color: white;
}

.social div {
    padding: 0;
}

main {
    background: #ec6800;
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas pasen a la siguiente fila */
    gap: 16px;
}

article {
    margin-left: 70px;
    margin-bottom: -40px;
}

article .contenedor-principal {
    display: flex;
}

article .contenedor-parrafo {
    display: block;
    font-size: 15px;
    margin-top: 40px;
}

article a {
    text-decoration: none;
    text-align: center; /* Centra el texto horizontalmente */
    margin: 20px 0; /* Añade margen superior e inferior para separarlo del contenido */
    color: black;
}

article a:hover {
    color: white;
}

article .parrafo-abajo {
    margin-top: -25px;
    margin-bottom: 45px;
}

article img {
    width: 400px;
    transition: all 300ms;
}

article img:hover {
    transform: scale(1.10);
}

#container-karasuno {
    margin-top: -25px;
}

#container-nekoma {
    background: #dd636b;
    margin: -10px;
}

#container-aoba {
    background: #8ed4c7;
    margin: -10px;
}

#container-date {
    background: #3f7373;
    margin: -10px;
}

#container-fukurodani {
    background: #d5c67c;
    margin: -10px;
}

#container-morizen {
    background: #94c388;
    margin: -10px;
}

#container-iku {
    background: #e8c456;
    margin: -10px;
}

#container-ougi {
    background: #3e427e;
    margin: -10px;
}

#container-kado {
    background: #2a7451;
    margin: -10px;
}

#container-jose {
    background: #f6bc53;
    margin: -10px;
}

#container-waku {
    background: #eb9398;
    margin: -10px;
}

#container-shira {
    background: #9a5480;
    margin: -10px;
}

#container-inari {
    background: #8a2f3b;
    margin: -10px;
}

#container-tobi {
    background: #f1cf54;
    margin: -10px;
}

#container-kamo {
    background: #0943b5;
    margin: -10px;
}

#container-igei {
    background: #a7d942;
    margin: -10px;
}

#container-otro {
    background: #ead37b;
    margin: -10px;
}

#container-otro .parrafo-abajo {
    margin-top: -125px;
}

.navegacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.navegacion a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 0 1px;
    transition: transform 0.3s ease;
}

.blanco h3:hover {
    color:  white;
    transform: scale(1.3);
}

.red h3:hover {
    color:  #dd636b;
    transform: scale(1.3);
}



.color-aoba h3:hover {
    color: #8ed4c7;
    transform: scale(1.3);
}

.color-date h3:hover {
    color: #3f7373;
    transform: scale(1.3);
}

.color-fuku h3:hover {
    color: #d5c67c;
    transform: scale(1.3);
}

.color-mori h3:hover {
    color: #94c388;
    transform: scale(1.3);
}

.color-iku h3:hover {
    color: #e8c456;
    transform: scale(1.3);
}

.color-oui h3:hover {
    color: #3e427e;
    transform: scale(1.3);
}

.color-kado h3:hover {
    color: #2a7451;
    transform: scale(1.3);
}

.color-jose h3:hover {
    color: #f6bc53;
    transform: scale(1.3);
}

.color-waku h3:hover {
    color: #eb9398;
    transform: scale(1.3);
}

.color-shira h3:hover {
    color: #9a5480;
    transform: scale(1.3);
}

.color-inari h3:hover {
    color: #8a2f3b;
    transform: scale(1.3);
}

.color-tobi h3:hover {
    color: #f1cf54;
    transform: scale(1.3);
}

.color-kamo h3:hover {
    color: #0943b5;
    transform: scale(1.3);
}

.color-igei h3:hover {
    color: #a7d942;
    transform: scale(1.3);
}

.color-otro h3:hover {
    color: #ead37b;
    transform: scale(1.3);
}








strong {
    margin: 0;
    padding: 0;
    color: white;
}


  

  


.footer {
    background: white;
    margin-bottom: -150px;
}

.pie {
    width: 300px;
    display: flex;
}

.pie a {
    margin-top: -10px;
}

.pie img {
    height: 130px;
    width: auto;
    margin-left: 1050px;
    position: relative;
}

.pie .top {
    margin-left: 970px;
    position: absolute;
    margin-top: 55px;
    color: #ec6800;
    font-size: 25px;
}

.pie h3 {
    color: black;
    position: absolute;
    font-size: 15px;
    margin-top: 55px;
    margin-left: 100px;
}

.volleyball-container {
    display: inline-block;
    perspective: 1000px; /* Da un efecto tridimensional */
    margin-left: -30px;
    margin-top: -10px;
}

.volleyball {
    width: 120px; /* Ajusta el tamaño según sea necesario */
    height: 120px;
    animation: none; /* Por defecto, sin animación */
    transition: animation 0.5s ease-in-out; /* Suaviza la transición entre estados */
}

.volleyball:hover {
    animation: spin 1.5s linear infinite; /* Inicia la animación de giro continuo */
}

/* Definición de la animación */
@keyframes spin {
    from {
      transform: rotate(0deg); /* Comienza sin rotación */
    }
    to {
      transform: rotate(360deg); /* Completa una rotación */
    }
}

@media all and (max-width: 800px) {
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        height: auto;
    }
    .aside {
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px) {
    .articulos {
    flex-direction: column;
    } 
}

@media all and (max-width: 400px) {
    .aside {
        flex-direction: column;
    }
}





